doctype html
html
    head
        meta(charset='utf-8')
        title HOP: Human Of Psyche
    body
        div
            h2 HOP의 이야기
            article
                | Q. Humans of Psyche는 뭐하는 페이지인가요?
                | A. 우리는 찍고, 질문하고, 듣습니다. 여러분들만의 ‘이야기’를요.

                | Q. 이유가 있다면요?
                | A. 다양한 학번의 싸이키가 모였던, 모인, 모일, 과실에는 얼마나 다채로운 각자의 이야기들이 있을까요. 별안간 궁금해질만도 하죠. 강의자료를 프린트하고 있는 저 선배의 이야기가, 노트북을 켜고 과제에 집중하는 저 후배의 이야기가 말이에요. 바쁘시죠, 다들. 우리와 함께 잠깐 쉬어 가세요. 정과 관심을 담아, 당신만의 고유한 분위기를 읽고 듣고 싶습니다.

                | Q. 당신은 누구인가요?
                | A. 저희보다는, 여러분의 이야기가 더욱 돋보였으면 합니다. 혹시 누군지 아셔도 모른 척 해주세요. 쉿!

                | Q. 인터뷰이가 되고 싶습니다. 어디로 연락하면 되나요?
                | A. HOP는 심리학과와 조금이라도 관련이 있는 여러분을 전공과 나이에 상관없이 환영합니다. 가벼운 마음으로 페이지에 페메 주시면 됩니다. 여러분의 소중한 경험을 나누려는 따뜻한 마음에 감사드립니다.
    a(href='/interviews') 메인 페이지로 돌아가기