doctype html
html
    head
        meta(charset='utf-8')
        title HOP: Human Of Psyche
    body
        h1 HOP: Human Of Psyche
        div
            | 저희 HOP는 찍고, 질문하고, 듣습니다. 여러분들만의 ‘이야기’를요.
            a(href='/about') HOP의 이야기 더 들어보기
        div
            if(auth)
				br
                a(href='/interviews/new') 인터뷰 추가하기
        div
            each column in results
                a(href='/interviews/'+ column.dataValues.id)
                    img(src=column.dataValues.img_src)
				if(auth)
					a(href='/interviews/'+ column.dataValues.id + '/edit') 수정/ 
					a(href='/interviews/'+ column.dataValues.id + '/delete') 삭제
        div 
			if(auth)
				a(href='/logout') 관리자 로그아웃
			else
            	a(href='/login') 관리자 로그인