doctype html
html
    head
        meta(charset='utf-8')
        title HOP: Human Of Psyche
    body
        h1 HOP: Human Of Psyche
        div 
            img(src=column.dataValues.img_src)
            h2 #{results.dataValues.title}
            h4 #{results.dataValues.date}
            h3 #{results.dataValues.body}
            if(auth)
                br
                br
                a(href='/interviews/'+ results.dataValues.id +'/edit') 수정
                br
                a(href='/interviews/'+ results.dataValues.id +'/delete') 삭제